body {
	line-height:150%;
	color:#000000;
  background-attachment: fixed;
}

.wrapper960 {}

/*H2 Header styling*/
h2, h2 a:link, h2 a:visited, .content_header, .articleHead{
	font-weight: 100;
	font-size: 22px;
  line-height: 34px;
	margin: 0px 0 10px !important;
}

/*H2 Header styling background color, image, border etc if required*/
h2, .items-row h2, .cols-2 h2, .row-0 h2 {
}

a {
	color:#ffffff;
}
a:hover {
	color:#F5F5F5;
}

/* ----[ CONTAINER DIVS ]----*/
#container_topbar {
    height: 50px; 
    position: fixed; 
    top: 0px; 
    z-index: 100000;     
    border: 1px solid rgba(0, 0, 0, 0.44);
    box-shadow: 0 12px 12px rgba(0, 0, 0, 0.4) inset;
}

#container_header {height:100px;}
#container_header.container {
background: url(/images/template/head.jpg);
margin: auto;
position: relative;
padding-bottom: 0px;
height: 200px;
width: 1300px;
}

#container_hornav.container{
position: relative;
top: 0px;
padding-bottom: 0px;  -moz-box-shadow: inset 0 0 9px 0 #000; /* inner shadow */
-webkit-box-shadow: inset 0 0 9px 0 #000; /* inner shadow */
box-shadow: inset 0 0 9px 0 #000; /* inner shadow */}
#container_logo_menu_mobile{display:none;}
#container_social_mobile{display:none;}
#container_hornav_mobile{display:none;}
#container_slideshow{padding-bottom:0px;}
#container_slideshow_bottom{}
#container_breadcrumb{}
#container_top_modules{}
#container_toptabs_modules{}
#container_main{}
#container_main.container{padding-bottom: 0px;}
#container_bottom_modules{}
#container_base {}	
#container_copyright_footermenu{}	

/* ----[ WRAPPER DIVS ]----*/
#header.block_holder{
    padding:0px !important; 
    -moz-box-shadow: 0 0 0px rgba(0,0,0,.1); /* drop shadow */
    -webkit-box-shadow: 0 0 0px rgba(0,0,0,.1); /* drop shadow */
    box-shadow: 0 0 0px rgba(0,0,0,.1); /* drop shadow */
}

#container_slideshow .wrapper960{width: 100%;}
#slideshow.block_holder{
    -moz-box-shadow: 0 0 0px rgba(0,0,0,.1); /* drop shadow */
    -webkit-box-shadow: 0 0 0px rgba(0,0,0,.1); /* drop shadow */
    box-shadow: 0 0 0px rgba(0,0,0,.1); /* drop shadow */
    text-align: center;
}

#copyright-footermenu.block_holder{
-moz-box-shadow: inset 0 0 46px rgba(0,0,0,.28); /* inner shadow */
-webkit-box-shadow: inset 0 0 46px rgba(0,0,0,.28); /* inner shadow */
box-shadow: inset 0 0 46px rgba(0,0,0,.28); /* inner shadow */}



#container_spacer1 .wrapper960 {height:5px;}
#container_spacer2 .wrapper960 {height:5px;}
#copyright{}


/* ----[ WRAPPER DIVS FOR SMALL MOBILE DEVICES]----*/
#hornav_mobile{}
#social_mobile {
    padding: 0;
    right: 0;
    top: 0;
    z-index: 1;
}


/* ----[ HEADER ]----*/
#header_items {
}

#logo {
	position:absolute;
  top: 0px;
  z-index: 1000;

}

/* Logo */
.logo_container {
	  top:0px; 
	  left:0px; 
}

.logo_container, .logoimage, .logoimage a {
	  height:170px;
}


.logoimage a {
    width: 400px;
}


h1.logo-text {
    text-align: left;
    margin-top: 20px;
	  margin-bottom: 0px;
}

h1.logo-text a {
    font-size: 38px !important;
    font-weight: normal;
    left: 0;
    top: 0px;
	text-shadow: black 2px 2px 2px;
}

p.site-slogan {
    font-size: 14px;
    left: 0px;
    letter-spacing: 1px;
    text-align: left;
    top: 38px;
    font-weight: normal;
    text-transform: uppercase;
}

/* Search */

#search{
text-shadow: white 1px 1px 1px;
border-radius: 5px;
height: 38px;
max-width: 280px;
padding: 1px;
left: 5px;
top: 155px;
}

#search .inputbox {
    color: #888888;
    font: 14px Arial,Helvetica,sans-serif;
    padding: 10px;
    -webkit-box-shadow: inset 0px 0px 2px 0px rgba(0,0,0,0.30);
    -moz-box-shadow: inset 0px 0px 2px 0px rgba(0,0,0,0.30);
    box-shadow: inset 0px 0px 2px 0px rgba(0,0,0,0.30);
    border-radius: 0px !important;
}

/* Social Media */
#social {
    left: 70px;
    top: 7px;
}

/* ----[ MENUS ]----*/
/* Topmenu */
#topmenu {
	background-color:#bbb;
	color:#FFFFFF;
	width:950px;
	top:0px;
	left:0px;
}
#topmenu ul li{
    padding:5px 0;
}
#topmenu ul li a {
	  padding: 0px 10px;
}

#topmenu ul li a {
	  border-right:1px solid #d2d2d2;
}
#topmenu ul li:last-child a {
	  border:none;
}

/* Hornav */
#hornav {
    border-radius: 0px;
    clear: both;
    float: left;
    width: 100%;
    margin:0px 0px;
}

#hornav ul {
    margin: 0;
    text-align: center;
}


/* hornav li */
#hornav li{display: inline-block;}

/* hornav li hover */
#hornav ul, #hornav li.active, #hornav li.visited, #hornav li:hover, #hornav .mainMenuParentBtnFocused, #hornav .mainMenuParentBtnFocused:hover text-transform: none;{
color: #ffffff;
-webkit-transition: background 0.8s linear;
-moz-transition: background 0.8s linear;
-ms-transition: background 0.8s linear;
-o-transition: background 0.8s linear;
transition: background 0.8s linear;
background-color: #000000;
background-color: rgba(0, 0, 0, 0.41);
}


/* Hornav - Parent Styling */ 
#hornav ul a, #hornav ul ul a, #hornav .separator {
	  line-height:38px;
}



#hornav ul a, #hornav .separator, #hornav .mainMenuParentBtnFocused, #hornav .mainMenuParentBtnFocused:hover { font-size:18px !important; display:block; text-decoration: none; z-index: 9999; margin-bottom: 0px /*dropdown gap*/;}
#hornav ul ul a {line-height:20px; padding: 1px 10px;}

/* Hornav - Child Styling */
#hornav li li a, #hornav li li.active a, #hornav li li.visited a {color:#555555 !important;}

#hornav li:first-child a, #hornav li:first-child:hover{}
#hornav li:first-child.active, #hornav li:first-child.visited{}

/* Hornav - Child Block Styling */
#hornav li li, #hornav li li li {padding: 2px 0px 4px !important;}
#hornav li li:last-child, #hornav li li li:last-child {background:none !important;}

/* Hornav - Dropdown Block Styling */
#hornav ul li ul {
	  background-color: #eeeeee; 
}

/* Hornav - Sub-Child Block Styling */
#hornav li ul li ul {
	  padding:5px;
}

/* Hornav - Hover/Highlight Styling */
#hornav ul a:hover {
  	color:#F2F2F2;
  	text-decoration:none;
  	-webkit-transition:color 0.25s ease-in;
  	-moz-transition:color 0.25s ease-in;
  	-o-transition:color 0.25s ease-in;
  	transition:color 0.25s ease-in;
  	outline:0;
}

#hornav ul ul a:hover {color:#aaa;}
#hornav li li a:hover {color:#999999;}

/* MenuMatic */
#subMenusContainer a {
  	text-decoration:none;
  	display:block;
  	padding:13px 25px 13px 15px;
  	color:#000000;
  	font-size:13px;
  	text-shadow:none;
  	cursor:pointer;
  	font-family: 'Maven Pro', sans-serif;
}

/* sub menu links on hover or focus */
#subMenusContainer a:hover, #subMenusContainer a:focus, #subMenusContainer a.subMenuParentBtnFocused {
  	text-decoration:none;
  	-webkit-transition:color 0.25s ease-in;
  	-moz-transition:color 0.25s ease-in;
  	-o-transition:color 0.25s ease-in;
  	transition:color 0.25s ease-in;
  	outline:0;
}

/* Parent Sub Menu Links ---[javascript users only]*/
.subMenuParentBtn { background: url(../images/arrow_right.png) right center no-repeat;  }

/* Parent Sub Menu Links on hover or focus ---[javascript users only]*/
.subMenuParentBtnFocused{background: url(../images/arrow_right_over.png) right center no-repeat;  }

/* Parent Main Menu Links ---[javascript users only]*/
#hornav .mainMenuParentBtn{background: url(../images/arrow_down.png) right center no-repeat; padding-right:25px;}

/* Parent Main Menu Links on hover or focus ---[javascript users only]*/
#hornav .mainMenuParentBtnFocused{background: url(../images/arrow_down_over.png) right center no-repeat; padding-right:25px; color:#ffffff;}

/* ----[ OLs ULs, LIs, and DIVs ]----*/

/* Submenu Outer Wrapper - each submenu is inside a div with this class - javascript users only */
.smOW{display:none; position: absolute; overflow:hidden; padding:0 2px; margin:0 0 0 8px;}

/* All ULs and OLs */
#subMenusContainer ul, #subMenusContainer ol {padding: 0; margin: 0; list-style: none; line-height: 1em; min-width:170px !important;}

/* All submenu OLs and ULs */
#subMenusContainer ul, #subMenusContainer ol {
  	left:0; 
  	padding-bottom:5px;
  	padding-top:8px;
  	border-radius:5px;
	}
	
#subMenusContainer{top:3px; left:0px;}


/*To Have Hornav Menu Centered on Navbar*/
/* Hornav - Parent Styling */
/*#hornav ul {text-align: center !important;}
#hornav ul li{display: inline-block !important;}
#hornav li{float:none !important;}
#hornav li:last-child{box-shadow: 0px 0px 0px 0px !important;}*/


/* ----[ SLIDESHOW ]----*/

/* slideshow navigation buttons on image */
a.nivo-prevNav {
    left: 20px;
}

a.nivo-prevNav {
    right: 20px;
}

/* slideshow navigation */
.nivo-controlNavHolder{padding: 10px 0px; background-image: url(../images/slideshow-bottom.png); background-position:top center; background-repeat:no-repeat; height:30px;}

.nivo-controlNav a {
    background: url("../images/slide-bullet.png") no-repeat scroll 0 0 transparent !important;
    border: 0 none;
    display: block;
    float: left;
    height: 30px;
    margin-right: 3px;
    text-indent: -9999px;
    width: 30px;
}

/* ----[ BREADCRUMBS ]----*/
/* Styling */
#breadcrumb-1{}	
#breadcrumb-1 .module_margin{margin:0px;}	
#breadcrumb .module{padding-left:10px; padding-right:10px; border:none;}
#breadcrumb.block_holder{padding:5px 0px !important;}
div.breadcrumbs a.pathway{}
div.breadcrumbs {color:#ffffff;}


/* ----[ DEFAULT MODULE STYLING ]----*/
.maincontent{margin:0px 5px 5px 5px;}
/* Module Styling */
.module h3, .module_menu h3 {
    font-size: 20px;
    font-weight: normal;
    padding: 8px;
    text-align: left;
}

.module, .module_menu{}

/* Module Styling - Menus */
.module ul a, .module_menu ul a {
    color: #000000;
    margin: 0 0 7px;
    padding: 8px 8px 8px 12px;
	  text-decoration:none !important;
}

.module ul li:last-child a, .module_menu ul li:last-child a {
}
.module ul a:hover, .module_menu ul a:hover, .module ul a:focus, .module_menu ul a:focus {
	  color: #999999;
}

/*use to highlight active link*/
.module ul li.active a, .module_menu ul li.active a{}

.module ul li li a, .module_menu ul li li a {
  	border:none !important;
  	padding-left:25px;
}

/* Footer Menu */
#footermenu {
}
#footermenu ul li{
  	padding: 5px 0;
}
#footermenu ul li a {
  	border-right: 1px dotted #2c2c2c;
    padding: 0 10px;
}
#footermenu ul li a:hover {
}

/** MB TOPTABS **/
.tabcontent h2{background-image: none !important;}
ul.tabs .linkclosed{background-image: url("../images/overlay-light.png"); background-repeat: repeat;}

/** MB TOP **/
/* Module Styling */
#top_modules .module h3, #top_modules .module_menu h3{margin-bottom: 8px;}

/* Module Styling - Menus */


/*--Top Modules Divs--*/


/* MB Top-1 */
/* MB Top-2 */

/** MAINCONTENT **/

#main .module ul.menu li a, #main .module_menu ul.menu li a{padding:5px; background: rgb(25, 56, 86);}

.maincontent {padding: 0 10px;}
#main.block_holder{padding-top:20px !important; padding-bottom:20px !important; background-color: rgba(255, 255, 255, 0.90)!important}

/* MB Contenttop */ /* MB Contentbottom */
.contenttop .module_margin{margin-top:0px;}

.wrapper_contenttop{padding-top:10px;}

#content_remainder, #content_full {
    border: 1px solid #F4F4F4;
}

/* Sidecol A & B */
.side_margins{}
.sidecol_block{margin-top: 13px; }
.sidecol_block .module, .sidecol_block .module_menu{margin-bottom:20px;}

/** MB BOTTOM **/
/* Module Styling */
#bottom_modules .module h3, #bottom_modules .module_menu h3{margin-bottom: 10px;}

/* Module Styling - Menus */
.sidecol_block .module h3, .sidecol_block .module_menu h3{box-shadow:0 0 16px rgba(0, 0, 0, 0.1); margin-bottom: 10px;}

/* MB Bottom-1 */
/* MB Bottom-2 */


/* MB BASE */

/* Module Styling - Menus */
#base .module ul a, #base .module_menu ul a {
    border-bottom: 1px dotted #ffffff;
    color: #ffffff;
    margin: 0 0 7px;
    padding: 0px;
}


#base a{color:#FFFFFF !important; text-decoration:underline;}
#base a:hover {color:#F2F2F2 !important; text-decoration:underline;}

#base .module, #base .module_menu{}

/* MB Base-1 */
/* MB Base-2 */

/* Footers */

/* Copyright */


/* Read More and content vote*/

/* content readmore*/
.readon, .readmore a, .pager a{
  	color:#ffffff;
  	text-decoration:underline;
}

.readmore a, .pager a{color:#ffffff !important;}
.readmore a, .pager a:hover{color:#ffffff !important;}

/* content vote*/
div.content_vote input.button{

}

/* Pagination */
ul.pagination{margin-top:20px; margin-bottom:20px;}

ul.pagination li, li.pagenav-prev, li.pagenav-next{
  	background-color:#f1f1f1;
  	color:#999999;
  	margin: 0 0 7px;
  	padding:15px;
  	border-radius:1px;
  	border:1px solid #D7D7D7;
}

ul.pagenav li.pagenav-next a, ul.pagenav li.pagenav-prev a, ul.pagenav li.pagenav-next a:hover, ul.pagenav li.pagenav-prev a:hover {color: #ffffff!important;}
ul.pagination li a{color:#999999 !important; font-weight:normal !important;}
ul.pagination li a:hover{color:#999999 !important; font-weight:normal !important;}

/* Contact Slider styling */
#contact-slider .pane-toggler-down, #contact-slider .pane-toggler{ margin-bottom:1px; margin-top:0px; cursor:hand; height:20px; border:1px solid #E9E9E9; cursor:pointer;
    border:1px solid #eaeaea;
    background: #ffffff !important; /* Old browsers */
    -webkit-box-shadow: 0 5px 6px -6px b1b1b1;
    -moz-box-shadow: 0 5px 6px -6px black;
    box-shadow: 0 5px 6px -6px black;
}

#contact-slider a, #contact-slider h3, #contact-slider a:hover {
    border: medium none;
    color: #000000 !important;
    font-weight: 100;
    text-decoration: none;
}

#contact-slider .panel {
    background-color: transparent;
    border:none !important;
}


/* Category List*/
tr.even, .cat-list-row0 {
    background-color: transparent;
}

table.category .createdby, table.category .list-hits, table.category .cat-list-row0, table.category .cat-list-row1 {
    color:#000000 !important;
}


/* Search results */
.search-results .result-text {color: #000000;}
.search-results dd.result-category {color: #000000;}
.search-results dd.result-created {color: #000000;}

span.highlight {color: #000000;}

/* Load Fader */
.loadHeadfader{
  	z-index: 10000;
  	position:fixed;
  	top: 0;
  	min-width: 100%;
  	background-color: rgba(0,0,0,0.7); 
  	height: 131px; 
  	color: #ffffff;  
  	opacity:0;  
    filter:alpha(opacity=0.8);
}


/*article info DETAILS head styling*/
.article-info-term {
    display: none;
}
.article-info {
    color: #888888;
    display: inline-block;
    font-size: 12px;
    padding: 0;
}
.article-info .actions {
    float: right;
    margin: -10px 0 0;
    width: 50px;
}
.articleContent img {
    display: block;
    margin: 20px auto;
}
.article-info dd {
    border-right: 1px solid #CCCCCC;
    display: inline;
    margin: 0 7px 0 0;
    padding: 0 7px 0 0;
}
.article-info dd:last-child {
    border-right: medium none;
}
dl.article-info {
    clear: both;
    display: inline;
    margin: 10px 0;
    width: 100%;
}
dd > div {
    display: inline;
}

div#footermenu.block_holder div.module_margin ul.menu{
    margin:0px !important; 
    float: left;
    padding:10px 0px;
}


div#editor-xtd-buttons.btn-toolbar div.btn-toolbar a.btn {margin-bottom: 5px !important;}


/*==================================================
 * Font Awesome
 * ===============================================*/

/* All icons (classes beginning with “fa-” */
[class^="fa-"]:before, [class*=" fa-"]:before {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-right:10px;
}
/* Classes beginning with “fa-” in the hornav submenu. This just increases the size of the icon to 18px  - remove last 2 properties if you want the icon to appear to the left of the menu item (easier to handle) */
#subMenusContainer li[class^="fa-"]:before, #hornav [class*=" fa-"]:before {
    color: rgba(255, 255, 255, 0.6);
    font-size: 18px;
    padding: 5px;
    top:1px;
    position: relative;
    display: block; /* Only add if you want icon to appear above link. */
    text-align: center; /* Only add if you want icon to appear above link. */
}
/* Re-positions the menu item text */
#subMenusContainer li [class^="fa-"], #hornav [class*=" fa-"] {
    position: relative;
    top:-3px;
}

/*page navigation*/
ul.pager{margin: 20px 0px !important;}

/*animation css*/
.animatediv{    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
    font-size: 22px;
    margin: 30px auto 60px;
    padding: 80px 0;
    text-align: center;
    width: 100%;}

/*Пользовательский*/
#graf {
float: right;
position: relative;
top: 10px;
right: 4px;
}

#kray {
position: relative;
width: 1300px;
}

.jbzoo .module-items {
position: relative;
padding: 10px 0;
}
.submenu {
color: #1b3856 !important;
}
.jbzoo .item-properties {
float: none;
width: 100%;
font-weight: bold;
}
.width-40 {
width: 30%;
}
.width-60 {
width: 70%;
}
.author {
margin-top: 10px;
background: rgba(255, 255, 255, 0.88);
}
.item-date {
background: rgba(25, 56, 86, 1);
position: absolute;
padding: 5px;
width: 30px;
font-size: 20px;
font-family: Impact;
color: white;
height: 30px;
}
.jbzoo .alphaindex
{
padding: 3px 10px;
font-size: 20px;
}
.anons{
padding-left:10px;
}
.cpr{
color: rgb(116, 187, 255);
}

.pan {
height: 65px;
background: url(/images/template/body.png);
position: absolute;
width: 100%;
z-index: 999;
}
.pano {
position: relative;
}
.tour {
width: 97%
}

.page-header {
margin: 2px 0 10px;
}