@import url("jstuff.css");

body {
width: 100%;
}

#content100 {float:left;}
#header_items {width: 100%;}
#header.block_holder, #slideshow.block_holder, #footermenu.block_holder {padding:0;}
.module_margin, .maincontent, .side_margins {margin:5px;}


.top-1, .top-2, .contenttop, .contentbottom, .bottom-1, .bottom-2, .base-1, .base-2  {float: left;}
.block_holder {padding:10px;}
.tabcontent {padding:20px 25px;}

/*--Framework Classes--*/
.block_holder {
}

.container {
	width:100%; 
  padding-bottom: 50px;
}

.container_bg {
  width:100%; 
}

.wrapper960 {
	width:960px; 
	margin:0 auto; 
}

.clear {
	clear:both;
}
.menu{}

#content_full {
}

/*--Header Div--*/
#topbar {
  position:relative;
}


#header {
	position:relative;
}

/*  */
#search {
	height:20px;
	position:absolute;
	z-index:1200000;
}
#search form {
	margin:0;
}
#search .inputbox {
border:medium none;
height:19px;
margin:0;
padding:3px 5px 3px 4px;
width:165px;
}
#search form .search label{
	display: none;
}

/* Custom Module (located in the header) */
#custom {
    padding: 3px;
    position: absolute;
    z-index: 10;
    top:105px;
    right:0px;
}

#custom.block_holder{
color: black;
background: rgba(255, 255, 255, 0.62);
top: 120px;
/* text-shadow: black 1px 1px 1px; */
}

#custom p, #custom .module_margin{
    margin:0px;
}


/*--Logo & Slogan Layout--*/
#logo {
	position:absolute;
}
.logo_container {
	margin: 0px; 
}
.logoimage {
	margin:0; 
	padding:0; 
}
.logoimage a {
	display:block; 
	position:relative; 
	z-index:0; 
	background: url(../images/logo.png) no-repeat; z-index:1;
}
h1.logo-text {
	padding:0; 
}
h1.logo-text a {
	white-space:nowrap; 
	outline:none; 
	position:relative; 
	text-decoration:none; 
	width:100%;
}
p.site-slogan {
	padding:0; 
	position:relative; 
	white-space:nowrap;
}

/*-----------------------------------------------------------------------------------*/
/* Social Media */
/*-----------------------------------------------------------------------------------*/

#social {
    padding: 0;
    position: absolute;
    top: 0;
    z-index: 2000;
}

#social ul{
  list-style: none;
  margin: 0 0 0px 0;
  float: right;
}
#social ul li{
  display:block;
  float: left;
  margin:0;
  padding:0 0 0px 0;
}
#social ul li a{
  display:block;
  width:40px;
  height:40px;
  text-indent:-9999px;
  background-position: 0px -40px;
  background-repeat: no-repeat;
  opacity: 0.6;
  padding-bottom: 1px;
}
#social ul li a{
  opacity: 1;
}
#social a:hover{
  background-position: 0px -40px !important;
  opacity: 1;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: background-color;
  -moz-transition-property: background-color;
  -o-transition-property: background-color;
  -ms-transition-property: background-color;
  transition-property: background-color;
}
.social-facebook a { background: url(../images/social/facebook.png) no-repeat 50% 50% }
.social-facebook a:hover { background-color: #3b5998 }
.social-twitter a { background: url(../images/social/twitter.png) no-repeat 50% 50% }
.social-twitter a:hover { background-color: #48c4d2 }
.social-googleplus a { background: url(../images/social/googleplus.png) no-repeat 50% 50% }
.social-googleplus a:hover { background-color: #d94a39 }
.social-youtube a { background: url(../images/social/youtube.png) no-repeat 50% 50% }
.social-youtube a:hover { background-color: #f45750 }
.social-pinterest a { background: url(../images/social/pinterest.png) no-repeat 50% 50% }
.social-pinterest a:hover { background-color: #cb2027 }
.social-dribbble a { background: url(../images/social/dribbble.png) no-repeat 50% 50% }
.social-dribbble a:hover { background-color: #ef5b92 }
.social-flickr a { background: url(../images/social/flickr.png) no-repeat 50% 50% }
.social-flickr a:hover { background-color: #f1628b }
.social-skype a { background: url(../images/social/skype.png) no-repeat 50% 50% }
.social-skype a:hover { background-color: #18b7f1 }
.social-digg a { background: url(../images/social/digg.png) no-repeat 50% 50% }
.social-digg a:hover { background-color: #2882c6 }
.social-linkedin a { background: url(../images/social/linkedin.png) no-repeat 50% 50% }
.social-linkedin a:hover { background-color: #71b2d0 }
.social-vimeo a { background: url(../images/social/vimeo.png) no-repeat 50% 50% }
.social-vimeo a:hover { background-color: #62a0ad }
.social-yahoo a { background: url(../images/social/yahoo.png) no-repeat 50% 50% }
.social-yahoo a:hover { background-color: #ab64bc }
.social-tumblr a { background: url(../images/social/tumblr.png) no-repeat 50% 50% }
.social-tumblr a:hover { background-color: #3a5976 }
.social-deviantart a { background: url(../images/social/deviantart.png) no-repeat 50% 50% }
.social-deviantart a:hover { background-color: #d0de21 }
.social-delicious a { background: url(../images/social/delicious.png) no-repeat 50% 50% }
.social-delicious a:hover { background-color: #3274d1 }
.social-rss a { background: url(../images/social/rss.png) no-repeat 50% 50% }
.social-rss a:hover { background-color: #fe9900 }

/*-----  End of Social Media  ------*/
	
/*--Breadcrumb Divs--*/	
#breadcrumb .module_padding {
	padding:0px;
}

/*--Main Content and Side Columns Divs--*/
#main {
}

#sidecol_a, #sidecol_b {
height:100%;
} 

/*--Bottom Modules Divs--*/
#bottom_modules {
 }

/*--Base Modules and footer Divs --*/	

 #copyright {
  float: right;
  padding:10px;
 }
 
 #copyright a {
 color:#bbb;
 text-decoration:none;
 }
 
  #copyright.module_margin {
 	margin:0px !important;
 }

 div#footermenu.block_holder div.module_margin{margin:0px !important;}

/* Module Styling */
.module h3, .module_menu h3 {
	padding:0; 
	margin:0;
}
.module p, .module_menu p {
	margin:0;
}
.module_padding {
	height:100%;
	padding:5px;
}
.module_content {
	padding:0px;
}
#sidecol .module {
	margin-bottom:10px;
}

/* Module Styling - Menus */
.module ul, .module_menu ul {
	list-style-type: none;
}
.module ul a, .module_menu ul a {
	display:block;
	text-decoration: none;
}

#footer-1, #footer-2, #footer-3 {
	float: left; 
	width:100%;
}
#breadcrumb-1{
float: left;
width: 100%;
border-bottom: 1px solid white;
font-style: italic;
}
 
 
/** Hornav **/
#hornav {float:left;}
#hornav ul {margin:0;}
#hornav a span {cursor:pointer; display:block;}
#hornav li{list-style:none outside none; position:relative; text-indent:0;}
#hornav li li a span, #hornav li li a:hover span {}
#hornav a:hover {cursor:pointer; display:block; text-decoration:none;}
#hornav a:hover span{cursor:pointer; display:block;}
#hornav li ul li, #hornav li ul li ul li {margin-top: 0px;}

/* Hornav - Parent Styling */ 
#hornav ul a, #hornav ul ul a, #hornav .separator {white-space:nowrap; margin:0; margin-bottom:3px; cursor:pointer;}
#hornav li li {float:left; z-index: 10;}
#hornav li{z-index: 10;}

#hornav ul a, #hornav .separator {display:block; padding: 10px 20px; text-decoration: none; z-index: 9999; margin-bottom: 0px /*dropdown gap*/;}
#hornav li:hover {}
#hornav ul ul a {display:block; line-height:20px; padding: 1px 10px; text-decoration: none; z-index: 9999; border:none;}

/* Hornav - Child Styling */
#hornav li li a, #hornav li li.active a, #hornav li li.visited a {color:#555555 !important; text-transform: none;}
#hornav li li a, #hornav li li a:hover, #hornav li li.active a, #hornav li.active ul li a {background:none !important;}

/* Hornav - Child Block Styling */
#hornav li li, #hornav li li li {clear:left; float:left; margin:0; padding: 2px 0px 4px !important; white-space: nowrap; z-index: 9999 !important;}
#hornav li li:last-child, #hornav li li li:last-child {background:none !important;}

/* Hornav - Dropdown Block Styling */
#hornav ul li ul{  
height:auto;  left:-999em;  margin:0;  padding:5px;  position:absolute; z-index:99999 !important;}

/* Hornav - Image 16*16 Styling */
#hornav ul li ul img {padding:3px 6px 3px 0px;}

/* Hornav - Sub-Child Block Styling */
#hornav li ul li ul {height:auto; left:-999em; margin:0; padding:5px; position:absolute; top:0;}

/* Hornav - General */
#hornav li:hover ul ul, #hornav li:hover ul ul ul, #hornav li:hover ul ul ul ul, #hornav li.iehover ul ul, #hornav li.iehover ul ul ul, #hornav li.iehover ul ul ul ul {left: -999em;}
#hornav li:hover ul, #hornav li li:hover ul, #hornav li li li:hover ul, #hornav li li li li:hover ul, #hornav li.iehover ul, #hornav li li.iehover ul, #hornav li li li.iehover ul, #hornav li li li li.iehover ul {left:0; z-index:99999 !important;}
#hornav li li, #hornav li li li {min-width: 180px;}
#hornav li ul li ul {margin-left: 187px;}
#hornav .menu li:first-child, .module .latestnews li:first-child {margin-top: 0 !important;}
#menu li li.parent {cursor: pointer !important;}
#hornav li:hover {left:0; z-index:5001 !important;}
#hornav ul li ul {margin-top: 0px;}


/* MenuMatic *//* Just sub menu links */
#subMenusContainer a, #hornav li li a{text-align:left}
  
/* ----[ OLs ULs, LIs, and DIVs ]----*//* Submenu Outer Wrapper - each submenu is inside a div with this class - javascript users only */
.smOW{display:none; position: absolute; overflow:hidden; padding:0 2px; margin:0 0 0 -2px}
  
/* All ULs and OLs */
#subMenusContainer ul, #subMenusContainer ol {padding: 0; margin: 0; list-style: none; line-height: 1em; min-width:170px}
  
/* All submenu OLs and ULs */
#subMenusContainer ul, #subMenusContainer ol{-moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius:4px; border:1px solid #ddd; left:0; padding-bottom:5px}
#subMenusContainer li{list-style: none; background: none}
#subMenusContainer{display:block; position:absolute; top:7px; left:0; width:100%; height:0; overflow:visible; z-index:1000000000}

/** Top Menu **/
#topmenu {
	position:absolute;
	z-index:3;
}
#topmenu ul li{
    float: left;
    list-style:none;
}
#topmenu ul li a {
	display:block;
	text-decoration: none;
}

/** Footer Menu **/
#footermenu {
}
#footermenu ul li{
    display: inline-block;
}
#footermenu ul li a {
    display: block;
	text-decoration: none;
}
#footermenu ul li:last-child a {
	color: white;
	border:none;
}
#footermenu ul li:hover a {
	color: rgb(152, 233, 255);
	border:none;
	}
/** Scroll to Top **/
.scrollup{
    width:40px;
    height:40px;
    border-radius:50%;
    position:fixed;
    bottom:70px;
    right:25px;
    display:none;
    text-indent:-9999px;
    background: url(../images/scroll.png) no-repeat;
    background-color: #000000;
    z-index:1000;
    opacity:0.7;
}

/** Login Module **/
.userdata{margin-top: 10px;}

/**JBZOO Image **/
.jbzoo .align-left img {
float: left;
padding-bottom: 10px;
margin-right: 0.5em;
margin-bottom: 1em;
padding-right: 10px;
}
.jbzoo .category {
padding: 1em;
margin-bottom: 1px;
border-bottom: white solid 1px;
font-size: 16px;
color: #183856;
}

.date {
font-style: italic;
color: #077FD0;
}
.to_top{position:fixed;top:0px;}